<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} News Blog {% endblock %}</title>
        <meta charset="utf-8"/>
        {% block link %} {% endblock %} 
    </head>
    {% block body %}
    <body>
        {% block content %}{% endblock %}    
    </body>
    {% endblock %} 
</html>
