<form action="{{ form.action}}" method="GET">
    <fieldset id="newsgetform-fieldset"> 
    <legend>{{ form.title}}</legend>
        <input type="text" name="id" /><br/>
        <input type="submit" value="Отправить"/>
    </fieldset>    
</form>
